<footer id="footer">
   <div class="row">
     <div class="col-sm-10 footer-text my-auto f1">
       <span class="ml-5">&copy;UFC Fight Night</span>
       <a href="/contact">CONTACT</a>
       <a href="/about">ABOUT</a>
       <a href="/savedUser">Saved User</a>
    </div>
    <div>
      <div class="col-sm-2 social-links fr">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</footer>
