<!-- <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/connection">Connection</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav> -->
<div class="nav">
 <nav>
   <p id="mma">The Best of MMA</p>
  <ul>
    <li><img src="/assets/images/images.png" height="75" width="100"</li>
    <li><a href="/">Home</a></li>
    <li><a href="/connection">Connections</a></li>
    <li><img src="/assets/images/images.jpg" height="75" width="100"</li>
    <li><a id="login" href="/login">Login</a></li>
    <li><a id="signup" href="/signup">Sign up</a></li>
    <li><a id="events" href="/events">Events</a><li>
  </ul>

</nav>
</div>
