<!DOCTYPE html><!--About page-->
	<html>
	<head>

		<title>About</title>
     <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

		<script src="jquery.js"></script>
		<script src="about.js"></script>
	</head>
	<header>
		<% include partials/nav.ejs %>
	</header>
	<body background="/assets/images/background.jpg">

			<h3>MMA 101: The Arts Behind Mixed Martial Arts</h3><!--about some experiences for About page-->
				<div class="dy">
			<p>There are three basic areas comprising the sport of mixed martial arts - submission, striking, and wrestling.
         In this article we break it down and give you examples of styles and fighters.</p></div>


				 <h3>Submissions 101: Learning how to submit your opponent</h3>
				 <p>The submission game can be stressful. Especially if you're getting choked out on your stomach with your
					  opponent on your back. However, there's good news – escaping a submission isn't that complicated.</p>


				 <h3>Striking 101: Striking in Mixed Martial Arts</h3>
				 <p>You know MMA consists of wrestling, submissions, and striking - but do you know the difference between
					  the various styles of striking? What makes Muay Thai and kickboxing different?</p>


				<h3>Wrestling 101: Wrestling In Mixed Martial Arts</h3><!--some info for About page-->
				<p>More and more people some familiarity with wrestling due to the increasing popularity of mixed martial arts
					 and the UFC, but do you know what the three styles of wrestling are and how they differ?</p>



					<!--link to healthline website-->

				</div>
				 <footer>
				 <% include ./footer.ejs %>
				 <h3><em id="about">Source: <a href="https://www.liveabout.com/history-and-style-guide-of-mma-2308277">About the history of MMA</a></em></h3>
			   </footer>
			</body>

			</html>
