<!DOCTYPE html><!--the dyslexiaReader page-->
	<html>
	<head>
     <title>Events</title>
		 <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

	</head>
	<header>
		<% include partials/nav.ejs %>
	</header>
	<body>
	<div class="nav-left">
	   <div class="w100">
			 <h2>All Events</h2>

			 	<% for(var i=0; i< data.length; i++) {%>
					<% if (i == 0){%>
					<% } %>
					<% if (i == 3){%>
					<% } %>
		    	<h3><em id="allEventsbuttons"><a href="/events/<%= data[i].conId %>"><%= data[i].name %></a></em></h3>
				<% } %>
     </div>

	 </div>

	</body>
	<!--This is the backwards text box widget-->
	<footer>
		<% include ./partials/footer.ejs %>
		<script src="DB/connectDB.js"></script>
		<script src="DB/connector.js"></script>
	  <h3><em id="link2">Click Here: <a href="https://www.mmafighting.com/schedule/" target="_blank">All MMA Events</a></em></h3>
	</footer>
	</html>
