<!DOCTYPE html>
  <html>

  <head>
    <title>Contact Us</title>
     <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <header>
    <% include partials/nav.ejs %>
  </header>
  <body class="image1">

    <br><br>

    <div class="form1"><!--link to thankyou page-->
      <form action="thankyou.html" method="get" >
        <input type="text" name="name" placeholder="Your Name" id="" required>

        <!--datepicker widget-->
        <input type="date" id="datepicker" placeholder="Please pick a date" required>

           <span class="fa fa-star" data-rate="1"></span>
           <span class="fa fa-star" data-rate="2"></span>
           <span class="fa fa-star" data-rate="3"></span>
           <span class="fa fa-star" data-rate="4"></span>
           <span class="fa fa-star" data-rate="5"></span>
           <input type="hidden" id="rating-count" name="rating" value="0"><br>
         </div>
        <br>
        <textarea name="rate" placeholder="What do you think about my website..." id="" cols="48" rows="7" required></textarea>
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
<% include ./partials/footer.ejs %>
  </body>

  </html>
