<html>

<head>
    <title>Fans Info Page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="main">
        <table id="fans">
            <tr>
                <th>Submissions</th>
                <th>Striking</th>
                <th>Wrestling</th>
                <th>All3</th>
            </tr>
            <tr>
                <td>
                    <%= fans.submissions %>
                </td>
                <td>
                    <%= fans.striking %>
                </td>
                <td>
                    <%= fans.wrestling %>
                </td>
                <td>
                    <%= fans.all3 %>
                </td>

            </tr>
        </table>
    </div>
</body>

</html>
