<!DOCTYPE html>
  <html lang="en">
<head>

    <title>Home</title>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="libraryNav.js"></script>
    <script src="fans.js"></script>
</head>
  <header>
   <% include partials/nav.ejs %>
  </header>
  <body background="/public/assets/images/background.jpg">




  </body>
  <footer>
    <% include ./partials/footer.ejs %>
    <h3 id="link"><a href="https://mymmanews.com/top-mma-news-sites/" target="_blank">Click here for MMA news</a></h3>
  </footer>
  </html>
