<!DOCTYPE html>
  <html lang="en">
<head>

    <title>Home</title>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="libraryNav.js"></script>
    <script src="fans.js"></script>
</head>
  <header>
   <% include partials/nav.ejs %>
  </header>

  <body class=image2>



  </body>
    <footer>
      <% include ./partials/footer.ejs %>
      <h3><em id="link">Click here: <a href="https://mymmanews.com/top-mma-news-sites/" target="_blank">for MMA news</a></em></h3>
    </footer>
</html>
