<!DOCTYPE html>
<html>
  <head>
    <title>New Events</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="DB/connectDB.js"></script>
    <% include partials/nav.ejs %>
  </head>
  <body>

  </body>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
</html>
