[type="datetime-local"]{
  background: #fff url("../images/calender-image-png-16.png") 100% 90% no-repeat;
}
[type="datetime-local"]::-webkit-inner-spin-button{
  display: none;
}
[type="datetime-local"]::-webkit-calender-picker-indicator{
  opacity: 0;
}
